/bin
/bin_*
/*.tar.gz
/*.tar.xz

/config/lazygit/state.yml

/config/fish/fish_variables
/config/fish/local_config.fish
/config/nvim/lua/custom/plugins/obsidian.lua
/config/nvim/lua/custom/plugins/im-select.lua
